.collections_featured_main_wrapper {
  min-height: 620px;
  width: 100%;
  background: var(--bg02);
  display: flex;
  align-items: center;
}
.collections_featured_main {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 1200px;
  flex-direction: column;
}
.header {
  color: #000;
  font-family: "Integral CF Bold";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 55px;
}
.row {
  display: flex;
  gap: 30px;
}
.row_single {
  display: flex;
  gap: 9px;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img01 {
  width: 266px;
  height: 272px;
  object-fit: cover;
  object-position: center;
  border-radius: 11px;
}
.title {
  margin-top: 28px;
  color: #000;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.profile_section {
  margin-top: 10px;
}
.pfp {
  width: 28px;
  height: 28px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.pf_name {
  color: #000;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.thumb_pic {
  width: 104px;
  height: 85px;
  border-radius: 11px;
  object-fit: cover;
  object-position: center;
}

.col3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.profile_section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pf_name {
  color: #000;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 1199px) {
  .collections_featured_main {
    align-items: center;
    padding: 40px;
  }
  .row {
    flex-wrap: wrap;
    width: auto;
    padding: 20px;
    padding: 0px 20px;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }
}
